---
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import PostLayout from "@/layouts/BlogPost.astro";
import { getAllPosts } from "@/data/post";
import { getPageViews } from "@/lib/viewCounter";

export const getStaticPaths = (async () => {
  const blogEntries = await getAllPosts();
  const paths = await Promise.all(
    blogEntries.map(async (entry) => {
      const views = await getPageViews(entry.slug);
      return {
        params: { slug: entry.slug },
        props: { entry, views },
      };
    })
  );
  return paths;
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { entry, views } = Astro.props;
const { Content } = await entry.render();
---

<PostLayout post={entry}>
  <Content />
  <p>{views} views</p>
</PostLayout>
